
@{
    ViewData["Title"] = "Index";
}

<h1>پروفایل</h1>

<p>اطلاعات کاربر</p>
<p>ویرایش اطلاعات کاربر</p>
<p>تغییر رمز ورود</p>
<p>افزودن شماره همراه - تایید شماره همراه از طریق کد</p>
<p>آپلود عکس پروفایل</p>