@model WebUI.Areas.Account.Models.SignupViewModel
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h3>ثبت نام</h3>
        <form action="signup" method="post">
            <div class="form-group">
                <label asp-for="phoneNumber"></label>
                <input asp-for="phoneNumber" type="tel" />
            </div>
            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" />
            </div>
            <div class="form-group">
                <label asp-for="passwordConfirm"></label>
                <input asp-for="passwordConfirm" />
            </div>
            <button type="submit">ثبت نام</button>
        </form>
    </div>
</div>
