
@{
    ViewData["Title"] = "تأیید ایمیل";
}

<div>
    @if ((int)ViewData["status"] == 1)
    {
        <h1>ایمیل تایید شد</h1>
    }

    @if ((int)ViewData["status"] == 2)
    {
        <h1>حساب شما تأیید نشد. لطفا مجددا تلاش فرمایید.</h1>
    }

    @if ((int)ViewData["status"] == 3)
    {
        <h1>لطفا ایمیل و توکن را ارسال کنید.</h1>
    }
</div>