
@{
    ViewData["Title"] = "درباره ی ما";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" alt="Developer" src="https://www.technojobs.co.uk/info/sites/www.technojobs.co.uk/files/styles/article_image_large/public/Where-to-Get-the-Best-Salary-as-a-Software-Developer-in-Canada_112185177.jpeg?itok=Xlewv5h9">
            <div class="card-body">
                <h5 class="card-title">Reza Ahmadi</h5>
                <p class="card-text">Resident of Tehran; 3 years of work experience in C#.</p>
                <ul class="pl-2">
                    <li>
                        Fluent in
                        <ul class="pl-1">
                            <li>C#, Asp.net core</li>
                            <li>MVC, Clean architecture</li>
                        </ul>
                    </li>
                </ul>
                <h6 class="mb-1">Read more ...</h6>
                <a href="#" class="btn btn-primary">Github</a>
                <a href="#" class="btn btn-primary">CV PDF</a>
            </div>
        </div>
    </div>
</div>