@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tourism document. This is a challange for you (front-end).</p>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Pages</h4>
                <table class="table table-borderless table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Index</td>
                        <td><a href="/home/index">/Home/Index</a></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td><a href="/home/about" target="_blank">/Home/About</a></td>
                        <td>About this project and Involved.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
